/* You can add global styles to this file, and also import other style files */
@import "~src/assets/indexmixins";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  background-color: rgba(lightgray, .1);
}
